.Visit {
    margin-bottom: 100px !important;

    .MainTitle {
        &-title {
            text-align: left;
        }

        &-text {
            width: 40%;
            text-align: left;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 560px) and (min-width: 400px) {
    .Visit {
        .MainTitle {
            &-text {
                width: 85%;
                text-align: left;
                margin: 0;
            }
        }
    }
}