@media only screen and (max-width: 560px) and (min-width: 400px) {
    .HeroInfoCard {
        width: 95%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 23px;
        padding: 15px 25px;

        &-info {
            display: flex;
            align-items: center;
            justify-content: center !important;
            margin-top: 10px;

            svg {
                width: 40px;
                height: 40px;
                padding: 7px;
            }
        }

        &-title {
            font-size: 13px;
        }

        &-value {
            color: #22B3C1;
            font-weight: 700;
            font-size: 15px;
            line-height: 28px;
        }
    }
}


@media only screen and (max-width: 575px) and (min-width: 561px) {}

@media only screen and (max-width: 699px) and (min-width: 576px) {}

@media only screen and (max-width: 768px) and (min-width: 700px) {}

@media only screen and (max-width: 800px) and (min-width: 769px) {}

@media only screen and (max-width: 850px) and (min-width: 800px) {}

@media only screen and (max-width: 900px) and (min-width: 850px) {}

@media only screen and (max-width: 1580px) and (min-width: 900px) {}