@media (max-width:500px) {
    .Card {
        height: 300px;
        border: 1px solid red;

        &-img {

            img {
                width: 75%;
                height: 350px;
                border-bottom-left-radius: 25px;
                border-top-left-radius: 25px;
            }
        }

        &-body {
            position: relative !important;
            display: inline-block;
            border-radius: 20px;
            box-shadow: 5px 10px 25px 0px rgba(0, 0, 0, 0.45);
            background-color: #fff;
            padding: 25px 20px;

            top: -300px;
            right: -120px;
            z-index: 2;

            width: 75%;
        }
    }
}