@media only screen and (max-width: 500px) {
    .Card {
        width: 70%;
        &-img {

            img {
                width: 75%;
            }
        }

        &-body {
            width: 75%;
        }
    }
}