@media (max-width: 500px) {
    .Header {
        width: 100%;

        &-inner {
            img {
                margin-left: 20px !important;
            }
        }

        &-links {
            display: none;
        }

        &-langs {
            display: none;
        }
    }
}

@media only screen and (max-width: 1026px) {
    .Header {
        .logo {
            width: 100px;
        }

        &-link,
        &-lang {
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 932px) {
    .Header {
        &-links,
        &-lang {
            display: none;
        }

        .btn-burger {
            display: block;
        }
    }
}
