@media only screen and (max-width: 560px) and (min-width: 400px) {
    .HeroSection {
        width: 100%;

        &-inner {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        &-title {
            width: 100% !important;
            display: inline-block !important;
            font-size: 20px;
        }

        &-cityName {
            width: 100%;
            display: inline-block !important;
            border: 1px solid black;
            z-index: 2;
        }

        .carousel {
            width: 100%;
            display: inline-block !important;
            z-index: 1;
        }
    }
}